table{
    width: 90%;
    margin: 20px auto;
    background-color: silver;
}

td{
    text-align: center;
    color: red;
    font-weight: bold;
    background-color: white;
}

table tr:first-child td{
    color: black;
    background-color: lightgreen;
    
}

table tr:nth-child(2) td:first-child{
    background-color: rgb(2, 237, 245);
    text-align: left;
    color: black;
}

table tr:nth-child(2) td:last-child{
    color: black;
}

table tr:last-child td:first-child{
    color: black;
}

table tr:nth-child(3) td:last-child{
    color: black;
    background-color: rgb(255, 0, 242);
    position: relative;
}

#celda6{
    position: absolute;
    bottom: 0;
    right: 0;
}